<h1>List of Books for <%= @genre.name %> genre - <%= pluralize(@genre.books.count, "book") %></h1>

<ol>
    <% @genre.books.each do  |book| %>
      <h4><li><%= link_to book.title, book_path(book)  %></li></h4>
    <% end  %>
</ol>