<h1><%= @genre.name %> - <%= pluralize(@genre.books.count, "books") %></h1>

<ol>
    <% @genre.books.each do  |book| %>
      <li><%= link_to book.title, book_path(book)  %></li>
    <% end  %>
</ol>