<% if @book %>
  <h1>Comments for <%= @book.title%></h1>
<% else %>
  <h1>All Comments</h1>
<% end %>

<ul>
<% @comments.each do |c|%>
  <li><%= c.user.username%> says "<%= c.content%>" about this post: <strong><%= link_to c.book.title, book_path(c.book_id) %></strong></li>
<% end %>
</ul>