<h2><%= @comment.content %> - <%= @comment.user.username %></h2>

<% if @comment.user == current_user %>
  <%= link_to "Edit Comment", edit_comment_path(@comment)%>
<% end %>

<h4>Read the book description here: <%= link_to @comment.book.title, book_path(@comment.book_id) %></h4>
