<h2>Book: <%= link_to @comment.book.title, book_path(@comment.book_id) %></h2>


<h3><%= @comment.user.username %>'s comment: "<%= @comment.content %>"</h3>


<% if @comment.user == current_user %>
  <div class="btn btn-primary">
    <a href="<%= edit_comment_path(@comment) %>" style="color:white;">Edit comment</a>
  </div>
<% end %>

